<h2>Edit movies</h2>

<form  method="POST" action=" /movies/{{selectecMovie._id}}/edit">
  <div class="mb-3">
    <label class="form-label" >Title</label>
    <input class="form-control" type="text" name="title" value="{{selectecMovie.title}}">
    <br>
    <label class="form-label" >Genre</label>
    <input class="form-control" type="text" name="genre" value="{{selectecMovie.genre}}">
    <br>
    <label class="form-label" >Plot</label>
    <input class="form-control" type="text" name="plot" value="{{selectecMovie.plot}}">
    <br>

    <label for="cast">Cast:</label>
    <select name ="cast" id="cast" multiple>
      {{#each cele}}
        <option value="{{this._id}}">{{this.name}}</option>
      {{/each}}
    </select>

    <br>
    <button class="btn btn-primary" type="submit">SUBMIT</button>
  </div>
</form>
