<h2>Movie details</h2>


<h1>Title: {{moviesDetail.title}}</h1>
<h2>Genre: {{moviesDetail.genre}}</h2>
<h2>Plot: {{moviesDetail.plot}}</h2>

<h2>Cast</h2>
<ul>
{{#each moviesDetail.cast}}

<li>
    <p>Name: {{this.name}}</p> 
    <p>Occupation: {{this.occupation}}</p> 
    <p>Catch Phrase: {{this.catchPhrase}}</p> 

</li>

{{/each}}
</ul>

<form  method="POST" action="/movies/{{moviesDetail._id}}/delete">
    <button class="btn btn-danger" >delete</button>
</form>

<form  method="GET" action="/movies/{{moviesDetail._id}}/edit">
    <button class="" >edit</button>
</form>






